.mobile-menu-btn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;

    border: none;
    background-color: transparent;
    z-index: 2;

    @media screen and (min-width:768px) {
        display: none;
    }

    & .mobile-menu-close {
        display: none;
    }

    &.is-open .mobile-menu-close {
        display: block;
    }

    &is-open .mobile-menu-close {
        display: block;
    }

    &.is-open .mobile-menu-burger {
        display: none;
    }
}

.mobile-menu-icon {
    fill: black;
}

.mobile-menu-icon:hover,
.mobile-menu-icon:focus {
    fill: #2196F3;
}

// Mobule menu styles

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);

    padding: 48px 40px;

    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 1;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
        display: flex;
        transform: translateX(0);
        opacity: 1;

        @media screen and (min-width: 768px) {
            display: none;
            
        }
    }
}

.mobile-menu__list {
    margin-bottom: auto;

    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
}

.mobile-menu__nav-item:not(:last-child) {
    margin-bottom: 32px;
} 

.current {
    color: #2196F3;
}

.mobile-menu__contacts {
    margin-bottom: 64px;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
}

.mobile-menu__contacts-item:not(:last-child) {
    margin-bottom: 32px;
}

.accent {
    font-size: 34px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: #2196F3;
} 

.mobile-menu__social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;

}

.mobile-menu__social-item:not(:last-child) .mobile-menu__social-link {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
}