// Modal window

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; 

    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    background: rgba(0, 0, 0, 0.2);

    transition: opacity 250ms, visibility 250ms;
    
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {

    // position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;

    width: 450px;
    height: 609px;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media screen and (min-width: 1200px) {

        width: 528px;
        height: 581px;
    }

    @media screen and (max-width: 455px) {
        width: calc(100% - 30px) ;
    }
    
}

.modal__close-btn {

    position: absolute;
    top: 0;
    right: 0;
    padding: 0;

    margin-top: 8px;
    margin-right: 8px;

    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    fill: currentColor;
}

.modal__icon {

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover,
.modal__close-btn:focus > .modal-icon {

    fill: var(--accent);
} 

