// Portfolio overlay

.overlay {
    position: relative; 
    overflow: hidden;

    &__desc {

        position: absolute;
        top: 0;
        left: 0;
    
        display: flex;
        justify-content: center;
        align-items: center; 
        text-align: left;
        margin: 0;
        padding: 63px 24px;
        width: 100%;
        height: 100%;
    
        font-weight: 400;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
    
        color: #FFFFFF;
        background-color: rgba(33, 150, 243, 0.9);
    
        transform: translateY(120%);
    
        transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
     &__img {

        display: block;
        max-width: 100%;
        height: auto;
    } 
}

    .card-set-item--focused:hover .overlay__desc,
    .card-set-item--focused:focus .overlay__desc {

        transform: translateY(0%);
    }

