// Оформлення іконок в секції Наша команда

.social-media {

    display: flex;
    justify-content: center;
    padding-left: 0;
    
    &__link {

        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;
        width: 44px;
        
        background-color: #FFFFFF;
        border-radius: 50%;
        
        fill: rgba(175, 177, 184, 1);
        
        transition-property: fill, background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
    }
        
    &__link:hover,
    &__link:focus {

        fill: rgba(255, 255, 255, 1);
        background-color: var(--accent);
    } 
        
    & &__item + &__item {

        margin-left: 10px;
    }
}

// Footer social media icons

.footer-social-media {


    &__name {

        display: flex;
        justify-content: center;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: #FFFFFF;

        @media screen and (min-width: 1200px) {
            justify-content: flex-start;
        }
    }

    //  Оформлення іконок в footer 

    &__list {

        padding: 0;
        margin-top: 20px;
        display: flex;
        justify-content: center; 
    }
    
    &__link {

        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;
        width: 44px;
    
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus {

        background-color: var(--accent);
    }
        
    &__item + &__item {
        
        margin-left: 10px;
    }
}

.footer-social-media {
    margin-left: 0px;

    @media screen and (min-width: 768px) {
        margin-left: 165px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }
}
