// Секція Постоянные клиенты


.clients {

    &__title {

        margin-bottom: 50px;
        
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        } 

    /* Оформлення логотипів постійних клієнтів */

    &__list {

        display: flex;
        justify-content: center;
        justify-content: center; 
        padding: 0;
        }
        
    &__link {

        display: flex;
        align-items: center;
        justify-content: center; 
        padding: 16px 32px;
            
        fill: #AFB1B8;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        
        transition-property: border-color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

    &__link:hover,
    &__link:focus {
        fill: var(--accent);
        border-color: var(--accent);
        }
        
    &__item {

        background-color: #FFFFFF;
        min-width: 170px;
        min-height: 92px;
        }
        
    &__item + &__item {
        
        margin-left: 30px;
        } 
}

