// Секція Постоянные клиенты

.clients {

    &__title {

        margin-bottom: 50px;
        } 

    /* Оформлення логотипів постійних клієнтів */

    &__list {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: center; 
        gap: 30px;
        padding: 0;
        }
            
        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
        }
        
    &__link {

        display: flex;
        align-items: center;
        justify-content: center;

        width: 210px;
        height: 92px;
            
        fill: #AFB1B8;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        
        transition-property: border-color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 768px) {
            width: 226px;
        }
            
        @media screen and (min-width: 1200px) {
            width: 170px;
        }
        }

    &__link:hover,
    &__link:focus {
        fill: var(--accent);
        border-color: var(--accent);
        }
        
    &__item {

        background-color: #FFFFFF;
        }
}

