// Секция Footer bg

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgba(47, 48, 58, 1);

    &__group {

        font-style: normal;
        line-height: 1.71;
    }
    
    &__link {

        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }

    &__link--light {

        color: rgba(255, 255, 255, 1);
    }

    &__list {
        padding-left: 0;
        margin-bottom: 60px;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 768px) {
            margin-left: 61px;
        }

        @media screen and (min-width: 1200px) {
            align-items: flex-start;
            margin: 0;
        }
    }
}
    
    .logo__footer {

        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-left: 100px;
            display: inline-flex;
        }

        @media screen and (min-width: 1200px) {
            justify-content: flex-start;
        }
    }

    .footer__group {
        display: flex;
        align-items: center;

        @media screen and (min-width: 1200px) {
            justify-content: flex-start;
        }
    }
    
    .logo__studio--light {
        color: white;
    } 
    
    .link__footer {
        display: inline-block;
        margin-bottom: 8px;

        @media screen and (min-width: 1200px) {
            margin-bottom: 9px;
        }
    }
    
    .group__footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline; 
        }

        @media screen and (min-width: 1200px) {
            align-items: baseline; 
        }
    }
