// Header section

.header {
    border-bottom: 1px solid #ECECEC;

    &__container {
        display: flex;
        align-items: center;
        }
}

// Menu nav 

.nav,
.header__group {
    display: none;
}

// .nav {
//     &__link {
//         font-weight: 500;
//         font-size: 14px;
//         line-height: 1.14;
//         letter-spacing: 0.02em; 
//         color: #212121;
//     }
    
//     &__link--current { 
//         position: relative;
//         color: var(--accent);}
    
//     &__link--current::after {
//         content: "";
//         position: absolute;
//         bottom: 0;
//         left: 0;
    
//         width: 100%;
//         height: 4px;
//         display: inline-block;
    
//         background: var(--accent);
//         border-radius: 2px;
//     }
// }

// .list__nav {
//     display: flex;
//     align-items: center;
//     padding: 0;
//     margin-left: 93px;

// & .item__nav:last-child {
//     margin-right: 0;
//     }
// }

// .item__nav {
// margin-right: 50px;
// }

// .link__nav {
//     padding-top: 32px;
//     padding-bottom: 32px;

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//     color: var(--accent);
// }
// }

// Пошта та телефон 

// .header {
//     &__group {
//         margin-left: auto;
//         font-style: normal;
//         line-height: 1.71;
//         }
        
//     &__list {
//         display: flex;
//         }
        
//     &__link {
//         padding-top: 32px;
//         padding-bottom: 32px;  
        
//         font-weight: 500;
//         font-size: 14px;
//         line-height: 1.14;
//         letter-spacing: 0.02em;
        
//         color: rgba(117, 117, 117, 1);
        
//         transition-property: color, fill;
//         transition-duration: 250ms;
//         transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//         }
        
        
//         &__link:focus,
//         &__link:hover {
//         color: var(--accent);
//         fill: var(--accent);
//         } 

        //  Оформлення іконок пошти і телефону

//     &__icon {
//         margin-right: 10px;
            
//         fill: #757575;
//         fill: currentColor;
//         }
// }

//     .link__header {
//         margin-left: 50px;
//     }
