// Секція hero

.hero {

    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    background-color: rgba(47, 48, 58, 1); 

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

    .hero__title {

    margin-right: auto;
    margin-left:auto;
        
        
    width: 360px;
    font-size: 26px;
    line-height: 1.62;

    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 1);

    @media screen and (min-width: 1200px) {
        width: 696px;

        font-size: 44px;
        line-height: 1.36;
    }
}
        
    .hero__button {
        
        display: inline-block;
        align-items: center;
        text-align: center;
        padding: 10px 29px;
        
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
        
    .hero__button:hover,
    .hero__button:focus {

        background-color: #188CE8; 
    }
    
    
