// Portfolio filtr

.portfolio {

    &__button {

        display: inline-block;
        justify-content: space-between; 
        
        height: 38px;
        padding: 6px 22px;
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        
        cursor: pointer; 
        
        background-color: #F5F4FA;
        border: none;
        border-radius: 4px;
        color: #212121;
        
        transition-property: color, background-color, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
        
    &__button:hover,
    &__button:focus {

        color: #FFFFFF; 
        background-color: var(--accent);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
    }
}

.portfolio__list {

    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    margin-bottom: 40px;
    padding: 0;

    @media screen and (min-width: 768px) {
    
        justify-content: center;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
    
}

    .btn-all {
    min-width: 73px;
    }
    
    .btn-web {
    min-width: 128px;
    }
    
    .btn-apps {
    min-width: 145px;
    }
    
    .btn-dsgn {
    min-width: 103px;
    }
    
    .btn-mrktng {
    min-width: 130px;
    }

    // Стилізація оверлею

    .overlay__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        
        color: #212121;
    }
    
    .overlay__text { font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        
        color: #757575;
    } 
    
    .wrap-border {
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        border-top: transparent;
        width: 100%;
        padding: 20px 24px;

        &--large {
            @media screen and (min-width: 768px) and (max-width: 1199px) {
                
                padding-bottom: 56px;
            }
        }
    }
    

// Card-set з focus/hover

    .card-set-item--focused {
        transition-property: background-color, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .card-set-item--focused:hover,
    .card-set-item--focused:focus {
        background-color: rgba(33, 150, 243, 0.9);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); 
    }
